.container {
    position: relative;
}

.side_nav {
    position: relative;
    float: left;
    width: 25%;
    height: 1000px;
    background-color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.profile_pic{
    width: 75%;
    border-radius: 50%;
    margin-top: 75px;
}

.logo_div{
    text-align: left;
    padding-left: 25px;
}

.logo{
    width:10%
}

p{
    padding-left: 10px;
    padding-right: 10px;
}

.project_heading{
    position: relative;
    width: 72.5%;
    float: left;
    font-size:xx-large;
    font-weight: 700;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 2.5%;
}

.project_card{
    width: 72.5%;
    position:relative;
    float: left;
    height: 300px;
    padding-left: 2.5%;
    background-color: aquamarine;
}

.project_image {
    width: 40%;
}

