body{
    margin: 0px;
}

.container {
    position: relative;
}

.side_nav {
    position: fixed;
    float: left;
    width: 25%;
    height: 1000px;
    background-color: antiquewhite;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.profile_pic{
    width: 75%;
    border-radius: 50%;
    margin-top: 75px;
}

.logo_div{
    text-align: left;
    padding-left: 25px;
    font-size: smaller;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo{
    width:10%;
}

.text {
    font-size: smaller;
}

p{
    padding-left: 10px;
    padding-right: 10px;
}

.project_heading{
    position: relative;
    width: 72.5%;
    float: left;
    font-size:xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 2.5%;
    margin-left: 25%;
}

.project_card{
    width: 70%;
    position:relative;
    float: left;
    height: 285px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: aquamarine;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
}

.project_div {
    width: 40%;
}

.project_img {
    max-width: 100%;
    max-height: 250px;
    float: left;
    padding-right: 5%;
}

.project_text{
    float: left;
    width: 55%
}

.project_links{
    margin-left: 25%;
    width: 72.5%;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 2.5%;
}

.symbol{
    max-height: 15px;
}

